
# Spring Configuration
server: 
  port: 8380
  servlet:
    context-path:  ${BILLING_PREFIX:/}

# Logging Configuration
logging:
#  file:
#    name: application.log
  level:
    it.eng.dome: ${LOG_LEVEL:INFO}
    org.apache.coyote.http11: ERROR
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%-5level] %logger{36} - %msg%n" 
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

# Spring Boot Actuator
management:
  server:
    port: 9003
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: "*"
      base-path: /
      path-mapping:
        health: health
  endpoint:
    health:
      enabled: true
      show-details: never
  health:
    probes:
      enabled: true

rate-manager:
  enable-country-guesser: true

tmforumapi:
  #tmf_endpoint: ${TMF_ENDPOINT:http://tm-forum-api}
  tmf_endpoint: ${TMF_ENDPOINT:https://tmf.dome-marketplace-dev2.org}
  
  # tmf_envoy = false => use specific path for any tmforum software | tmf_envoy = true => use TMF_ENDPOINT as unique path (proxy) 
  tmf_envoy: ${TMF_ENVOY:true}
  
  # TMF_ENVOY=false - valid only if envoy false
  tmf_namespace: ${TMF_NAMESPACE:marketplace}
  tmf_postfix: ${TMF_POSTFIX:svc.cluster.local}
  tmf_port: ${TMF_PORT:8080}
   
  # TMF_ENVOY=true - internal paths used with envoy = true
  tmf620_product_catalog_management_path: tmf-api/productCatalogManagement/v4
  tmf629_customer_management_path: tmf-api/customerManagement/v4
  tmf632_party_management_path: tmf-api/party/v4
  tmf637_inventory_path: tmf-api/productInventory/v4
  tmf651_agreement_management_path: tmf-api/agreementManagement/v4
  tmf666_account_management_path: tmf-api/accountManagement/v4
  tmf678_billing_path: tmf-api/customerBillManagement/v4

  # read_timeout in seconds
  read_timeout: ${TMF_READ_TIMEOUT:60}
  # bearer token
  bearer_token: ${BEARER_TOKEN:eyJraWQiOiJkaWQ6a2V5OnpEbmFldk44NVo3VkpnY0JvUWVxUVU3ZDhrWnB1VmhEU2RtOGhRdEpZV2p2ZWszVkwiLCJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJhdWQiOiJkaWQ6a2V5OnpEbmFleXB5V2p6bjU0R3VVUDdQbURYaWlnZ0N5aUc3a3NNRjdVbm03a2p0RUtCZXoiLCJzdWIiOiJkaWQ6a2V5OnpEbmFlZzRGczhNS0NWblRKM010eUJSOUpkUHFubU5iUlpOWFkzRWdYNE03Ym5ScHkiLCJzY29wZSI6Im9wZW5pZCBsZWFyY3JlZGVudGlhbCIsImlzcyI6Imh0dHBzOi8vdmVyaWZpZXIuZG9tZS1tYXJrZXRwbGFjZS1zYngub3JnIiwiZXhwIjoxNzcxMjM4NTk2LCJpYXQiOjE3NzEyMzQ5OTYsInZjIjp7IkBjb250ZXh0IjpbImh0dHBzOi8vd3d3LnczLm9yZy9ucy9jcmVkZW50aWFscy92MiIsImh0dHBzOi8vY3JlZGVudGlhbHMuZXVkaXN0YWNrLmV1Ly53ZWxsLWtub3duL2NyZWRlbnRpYWxzL2xlYXJfY3JlZGVudGlhbF9lbXBsb3llZS93M2MvdjMiXSwiY3JlZGVudGlhbFN0YXR1cyI6eyJpZCI6Imh0dHBzOi8vaXNzdWVyLmRvbWUtbWFya2V0cGxhY2UtZGV2Mi5vcmcvYmFja29mZmljZS92MS9jcmVkZW50aWFscy9zdGF0dXMvMSNYRC1ScTNaNFExeTdIOVZtN0pZbTdRIiwic3RhdHVzTGlzdENyZWRlbnRpYWwiOiJodHRwczovL2lzc3Vlci5kb21lLW1hcmtldHBsYWNlLWRldjIub3JnL2JhY2tvZmZpY2UvdjEvY3JlZGVudGlhbHMvc3RhdHVzLzEiLCJzdGF0dXNMaXN0SW5kZXgiOiJYRC1ScTNaNFExeTdIOVZtN0pZbTdRIiwic3RhdHVzUHVycG9zZSI6InJldm9jYXRpb24iLCJ0eXBlIjoiUGxhaW5MaXN0RW50aXR5In0sImNyZWRlbnRpYWxTdWJqZWN0Ijp7Im1hbmRhdGUiOnsibWFuZGF0ZWUiOnsiZW1haWwiOiJwYXNxdWFsZS52aXRhbGVAZW5nLml0IiwiZmlyc3ROYW1lIjoiUGFzcXVhbGUiLCJpZCI6ImRpZDprZXk6ekRuYWVnNEZzOE1LQ1ZuVEozTXR5QlI5SmRQcW5tTmJSWk5YWTNFZ1g0TTdiblJweSIsImxhc3ROYW1lIjoiVml0YWxlIn0sIm1hbmRhdG9yIjp7ImNvbW1vbk5hbWUiOiJGYWJpbyBNb21vbGEiLCJjb3VudHJ5IjoiSVQiLCJlbWFpbCI6ImZhYmlvLm1vbW9sYUBlbmcuaXQiLCJpZCI6ImRpZDplbHNpOlZBVElULTA1NzI0ODMxMDAyIiwib3JnYW5pemF0aW9uIjoiRU5HSU5FRVJJTkcgLSBJTkdFR05FUklBIElORk9STUFUSUNBIFNQQSIsIm9yZ2FuaXphdGlvbklkZW50aWZpZXIiOiJWQVRJVC0wNTcyNDgzMTAwMiIsInNlcmlhbE51bWJlciI6IklEMTIzNDU2NyJ9LCJwb3dlciI6W3siYWN0aW9uIjpbIkNyZWF0ZSIsIlVwZGF0ZSIsIkRlbGV0ZSJdLCJkb21haW4iOiJET01FIiwiZnVuY3Rpb24iOiJQcm9kdWN0T2ZmZXJpbmciLCJ0eXBlIjoiZG9tYWluIn1dfX0sImRlc2NyaXB0aW9uIjoiVmVyaWZpYWJsZSBDcmVkZW50aWFsIGZvciBlbXBsb3llZXMgb2YgYW4gb3JnYW5pemF0aW9uIiwiaWQiOiJ1cm46dXVpZDozODk1ZWNlOC05M2M3LTQ5Y2EtOTU2Yi00N2MxNjk4ZDczYzUiLCJpc3N1ZXIiOnsiY29tbW9uTmFtZSI6IlNlYWwgU2lnbmF0dXJlIENyZWRlbnRpYWxzIGluIFNCWCBmb3IgdGVzdGluZyIsImNvdW50cnkiOiJFUyIsImlkIjoiZGlkOmVsc2k6VkFURVMtQjYwNjQ1OTAwIiwib3JnYW5pemF0aW9uIjoiSU4yIiwib3JnYW5pemF0aW9uSWRlbnRpZmllciI6IlZBVEVTLUI2MDY0NTkwMCIsInNlcmlhbE51bWJlciI6IkI0NzQ0NzU2MCJ9LCJ0eXBlIjpbIkxFQVJDcmVkZW50aWFsRW1wbG95ZWUiLCJWZXJpZmlhYmxlQ3JlZGVudGlhbCJdLCJ2YWxpZEZyb20iOiIyMDI2LTAyLTE2VDA5OjA5OjI1LjE1NDkyMjMyM1oiLCJ2YWxpZFVudGlsIjoiMjAyNy0wMi0xNlQwOTowOToyNS4xNTQ5MjIzMjNaIn0sImp0aSI6IjRjOGQyOTNjLTY2ZmMtNDcwMS04M2FmLTg2YjJlZmQ3ZDBmNSIsImNsaWVudF9pZCI6Imh0dHBzOi8vdmVyaWZpZXIuZG9tZS1tYXJrZXRwbGFjZS1zYngub3JnIn0.x_sz8ztLRXUQr39369D34nG20zQ1_8hBxMNbGVYxICp6oITkkwLktct6z3-1mPU3Okfpm0t36hQodIv3bn8UiQ}

spring:
  jackson:
    default-property-inclusion: non_null
